streamlit
nltk
python-dotenv
pip install --upgrade pinecone
langchain
langchain-community
beautifulsoup4
torch
requests
groq
pypdf
pypdf2
pillow
bs4
sentence-transformers
tiktoken
openai
